{% extends "base.html" %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <section class="banner_area">
      <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
          <div class="container">
            <div class="banner_content text-center">
              <h2>Recommended Movies!</h2>
            </div>
          </div>
        </div>
      </div>
  </section>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border">
        <h3 class="title_color">Image Gallery</h3>
        <div class="row gallery-item">
          {% for movie in  movies %}
          <div class="col-md-4">
            <div class="single-gallery-image" style="background: url(/media/{{movie.imagefile}}); cursor:pointer;"
              onclick="add_user_movie({{movie.id}})" id="img_{{movie.id}}" title="Add movie to your favorite list">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'js/recommendations.js' %}"></script>
  {% endblock %}
|
