{% extends "base.html" %}
	{% block content %}

		<!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>Breve Explicacion</h2>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <section class="sample-text-area">
			<div class="container">
				<h3 class="text-heading title_color">Menu</h3>
				<p class="sample-text">
					Tome una plantilla libre llamada <b>MeetMe</b> la cual se puede usar libremente siempre y cuando no se elimine el footer que contiene informacion sobre el autor. Tome la parte del menu superior y cree un template base para poder heredarlo en los siguientes templates que iba a usar, de esta forma es mucho  mas facil crear menus. Cabe aclarar que todo lo relacionado al frontend esta basado en el template, excepto en algunos casos como por ejemplo, al desabilitar un boton este se veia igual, por lo que retire su clase y se ve como un simple boton de HTML.
				</p>
				<p class="sample-text">
					El menu esta compuesto por cada uno de los requerimientos del sistema, y en el datatable de las peliculas se puede seleccionar la accion de editar o eliminar. Cabe aclarar que el menu que un usuario sin loguear ve es diferente al de uno ya logueado.
				</p>
				<p class="sample-text">
					Por cuestiones de tiempo no pude agregar una vista para ver las peliculas favoritas del usuario, el menu de recomendaciones simplemente recomienda de forma aleatoria las peliculas que NO estan en la lista de favoritos (es un query en sql muy sencillo), por cuestiones de tiempo no pude hacerlo personalizado, queria recomendar con respecto al genero y director.
					<b>Para agregar una pelicula a la lista de favoritos es necesario dar click a la imagen, se recomiendan 5 peliculas a la vez.</b>
				</p>
				<br>
				<h3 class="text-heading title_color">Cuestiones tecnicas</h3>
				<p class="sample-text">
					La creacion de usuarios y peliculas se realizan a traves de Forms, no los utilice en el frontend porque me parecen muy poco esteticos y por ello preferi hacerlos a partir del template, pero la logica al momento de guardar se realiza con los forms. Queria hacer algo similar para el CRUD de las peliculas, pero al momento de investigar el Django Rest framework me di cuenta que el CRUD se podia hacer a traves de este, me emocione porque personalmente solo lo utilizo para obtener
					informacion en formato JSON ya sea para trabajar un datatable (como en en listado de las peliculas) o para otros objetivos, pero nunca un CRUD con el, por lo que descarte mi idea original de trabajar con forms y comence a trabajar con el Django Rest, a traves del protocolo Put se edita la pelicula y con el protocolo Delete se elimina del sistema. La imagen y el genero de la pelicula no se pueden edita, tampoco existe un template para la creacion de los generos por lo que hay
					2 formas de crearlos, una a traves del ORM y otra con el Django Rest, deje el metodo y el serializador para ser creados accediendo a la url <a href="/movies/manage_genres">Generos</a>, estos pueden ser creados sin necesidad de estar logueado en el sistema, caso contrario del CRUD de las peliculas.
				</p>
				<p class="sample-text">
					Para comodidad en ver el aplicativo, lo desplegue en un servidor Heroku, en donde ya existe un usuario y algunas peliculas para poder probar el CRUD, para este despliegue tuve que cambiar de SQLite a Postgresql debido a un problema con Heroku, ademas es posible que presente problemas con las imagenes puesto que estas se guardan en la carpeta MEDIA y Heroku despues de cierto tiempo suele borrarlas (debido a que es un servidor gratis de prueba), pero esto no deberia suceder al
					probar el proyecto de forma local.
				</p>
				<p class="sample-text">
					Lamentablemente no poseo los conocimientos para la parte de testing, por lo que el aplication no tiene testing de ningun tipo y su covertura es del 0%. Actualmente estoy haciendo un curso de Jenkins para aprender CI/CD, por lo que al final de este curso espero aprender tambien testing, lo cual es fundamental para mi vida profesional y no quisiera perder otra oferta laboral por la falta de esta.
				</p>
				<br>
				<h3 class="text-heading title_color">Agradecimientos</h3>
				<p class="sample-text">
					Muchas gracias por la oportunidad, pude aprender y probar nuevas cosas y esto me pone muy contento, me encantaria recibir algunos feedback si es posible para mejorar como profesional, aprovecho cualquier oportunidad para crecer y quisiera que esta no fuera la excepcion.
				</p>
			</div>
		</section>
    {% endblock %}
